table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .add_button{
    float: right;
    margin: 20px;
    padding: 9px 10px;
  }

  .no-data-section{
    text-align: center;
  } 
  .no-data-section .no-data-text{
    background-color: #FF0000;
    color: #ffffff;
    padding: 20px 38px;
    font-size: 27px;
  }
  .search{
    width: 30%;
    margin: 30px;
    float: left;
  }